body {
    padding-top: 50px;
}

.font {
    color: #ffffff;
    font-size: 12px;
}

.leftbar {
    position: fixed;
    top: 51px;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #293038;
    width: 180px;
}

.rightcontent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 180px;
    width: auto;
}

.leftbar li {
    /* padding-right: 20px; */
    /* padding-left: 20px; */
    height: 40px;
}

.leftbar>.active>a,
.leftbar>.active>a:hover,
.leftbar>.active>a:focus {
    height: 40px;
}

.active {
    background-color: #F4F6F8;
}

.console-icon-left {
    color: #aeb9c2;
    width: 50px;
    float: left;
}

.left {
    float: left;
}